<div class="centered-gallery">
  <div class="gallery">
      <div class="glide">
        <div class="glide__track" data-glide-el="track">

          <ul class="glide__slides">

            <li class="glide__slide">
              <div class="img-box">
                <a class="img-a-tag" href="<%= asset_path("1.jpg") %>" data-lightbox="newspaper">
                  <%= image_tag asset_path("1.jpg"), class: "front-page-img pages" %>
                </a>
              </div>
            </li>

            <li class="glide__slide">
              <div class="img-box">
                <a class="img-a-tag" href="<%= asset_path("2.jpg") %>">
                  <%= image_tag asset_path("2.jpg"), class: "front-page-img pages img-hidden" %>
                </a>
              </div>
            </li>

            <li class="glide__slide">
              <div class="img-box">
                <a class="img-a-tag" href="<%= asset_path("3.jpg") %>">
                  <%= image_tag asset_path("3.jpg"), class: "front-page-img pages img-hidden" %>
                </a>
              </div>
            </li>
            <li class="glide__slide">
              <div class="img-box">
                <a class="img-a-tag" href="<%= asset_path("4.jpg") %>">
                  <%= image_tag asset_path("4.jpg"), class: "front-page-img pages img-hidden" %>
                </a>
              </div>
            </li>
            <li class="glide__slide">
              <div class="img-box">
                <a class="img-a-tag" href="<%= asset_path("5.jpg") %>">
                  <%= image_tag asset_path("5.jpg"), class: "front-page-img pages img-hidden" %>
                </a>
              </div>
            </li>
            <li class="glide__slide">
              <div class="img-box">
                <a class="img-a-tag" href="<%= asset_path("6.jpg") %>">
                  <%= image_tag asset_path("6.jpg"), class: "front-page-img pages img-hidden" %>
                </a>
              </div>
            </li>
          </ul>
      <div class="glide__arrows buttons img-hidden" data-glide-el="controls" data-correct-or-not-target="buttons">
        <button class="glide__arrow glide__arrow--left" data-glide-dir="<">prev</button>
        <button class="glide__arrow glide__arrow--right" data-glide-dir=">" data-correct-or-not-target="next">next</button>
      </div>
        </div>
    </div>
  </div>
</div>
