<div class="centered-gallery">
  <div class="gallery">



    <a href="<%= asset_path("1.jpg") %>" data-lightbox="image-1" data-title="My caption">
    <%= image_tag asset_path("1.jpg"), class: "front-page-img pages", id: "myImg", data: { 'pinch-zoom': true } %>
    </a>

 <%
=begin%>
 <div class="carousel-item">
      <%= image_tag asset_path("2.jpg"), class: "front-page-img pages img-hidden", id: "myImg", data: { 'pinch-zoom': true } %>
    </div>

    <div class="carousel-item">
      <%= image_tag asset_path("3.jpg"), class: "front-page-img pages img-hidden", id: "myImg", data: { 'pinch-zoom': true } %>
    </div>

    <div class="carousel-item">
      <%= image_tag asset_path("4.jpg"), class: "front-page-img pages img-hidden", id: "myImg", data: { 'pinch-zoom': true } %>
    </div>

    <div class="carousel-item">
      <%= image_tag asset_path("5.jpg"), class: "front-page-img pages img-hidden", id: "myImg", data: { 'pinch-zoom': true } %>
    </div>

    <div class="carousel-item">
      <%= image_tag asset_path("6.jpg"), class: "front-page-img pages img-hidden", id: "myImg" %>
    </div>
<%
=end%>

  </div>
</div>
